.foot{
    background-color: rgb(94, 94, 219); color:greenyellow;
}

.about{
    background-color: #7D8CC4;
}

.my-nav{ background-color: #A3E7FC !important;
   
}

.cardb{
    background-color: #D7D9D7;
}

body{
    background-color: #A3B18A;
}